<div class="advantages">
    <div class="content">
        <div class="more-hackeru">
            <div class="global-hackeru">
                <div class="logo">
                    <img src="https://www.hackeru.co.il/assets/site/images/global.svg" alt="">
                </div>
                <div class="global-text">
                    <p class="title">HackerU העולמית
                    </p>
                    <p class="text">ל- HackerU פריסה עולמית הכוללת שיתופי פעולה עם אוניברסיטאות מובילות בארה"ב, הודו ואירופה. במסגרת שיתוף הפעולה HackerU מציעה מסלולי לימוד שונים כדוגמת: סייבר ואבטחת מידע, שיווק דיגיטלי, UI\UX ועוד.</p>
                    <a href="#">קרא עוד ←</a>
                </div>
            </div>
            <div class="business-hackeru">
                <div class="logo">
                    <img src="https://www.hackeru.co.il/assets/site/images/buildings.svg" alt="">
                </div>
                <div class="business-text">
                    <p class="title">HackerU לעסקים
                    </p>
                    <p class="text">
                        HackerU-Pro החטיבה העסקית של HackerU מתמחה בהכשרה מקצועית בתחומי ההייטק והעיצוב השונים. מתן ייעוץ מקצועי לעסקים וגופים ממשלתיים בנושאים טכנולוגיים מגוונים.
                    </p>
                    <a href="#">קרא עוד ←</a>
                </div>
            </div>
        </div>
        <div class="advantages-list wow animate__animated animate__slideInUp">
            <p class="advantages-title">היתרונות ללומדים בהאקריו</p><br>
            <div class="advantage wow animate__animated animate__slideInUp">
                <div class="advantage-logo">
                    <img class="advantage-img" src="https://www.hackeru.co.il/assets/site/images/advs_1.svg" alt="">
                </div>
                <div class="advantage-text">
                    <p class="advantage-headline">שיטת מיון ייחודית</p>
                    <p class="advantage-content">שיטת מיון ייחודית לזיהוי והתאמת כישוריך בתחומי ההייטק הכוללת התנסות מעשית ללא סיכון כספי</p>
                    <a class="advantage-link"href="#">שיטת המיון</a>
                </div>
            </div>
            <div class="advantage wow animate__animated animate__slideInUp">
                <div class="advantage-logo">
                    <img class="advantage-img" src="https://www.hackeru.co.il/assets/site/images/advs_6.svg" alt="">
                </div>
                <div class="advantage-text">
                    <p class="advantage-headline">ללמוד מהבית מקצוע Online</p>
                    <p class="advantage-content">קורסים אונליין הישר בשידור LIVE למחשב שלכם בבית. אותם מסלולי הלימוד והתכנים עם הטכנולוגיה האיכותית והטובה ביותר.</p>
                </div>
            </div>
            <div class="advantage wow animate__animated animate__slideInUp">
                <div class="advantage-logo">
                    <img class="advantage-img smaller" src="https://www.hackeru.co.il/assets/site/images/advs_3.svg" alt="">
                </div>
                <div class="advantage-text">
                    <p class="advantage-headline">סגל מרצים מנצח</p>
                    <p class="advantage-content">סגל הוראה המתמחה במקצועות ההייטק המבוקשים בניהם מנהלים בכירים בחברות הייטק, יזמים ועצמאיים בעלי חברות וניסיון מעשי רב שנים. אחרת איך תלמדו את הפרקטיקה הנדרשת בשוק העבודה?</p>
                    <a class="advantage-link"href="#">מיהם המרצים?</a>
                </div>
            </div>
            <div class="advantage wow animate__animated animate__slideInUp">
                <div class="advantage-logo">
                    <img class="advantage-img smaller" src="https://www.hackeru.co.il/assets/site/images/advs_4.svg" alt="">
                </div>
                <div class="advantage-text">
                    <p class="advantage-headline">מלגת לימודים והתחייבות חוזית לעבודה</p>
                    <p class="advantage-content">מאות מעסיקים, מנכל"ים, סמנכל"ים ומנהלות משאבי אנוש מהחברות הגדולות בשוק שעובדים איתנו כדי למצוא לכם עבודה בסיום הלימודים! סטודנט שעבר בהצלחה את שלב המיון יקבל התחייבות חוזית לעבודה ומלגת לימודים עד ₪7,000 גובה המלגה תלוי במסלול ההכשרה שבחרת</p>
                    <a class="advantage-link"href="#">מי מעסיק את הבוגרים שלנו?</a>
                </div>
            </div>
            <div class="advantage wow animate__animated animate__slideInUp">
                <div class="advantage-logo">
                    <img class="advantage-img" src="https://www.hackeru.co.il/assets/site/images/advs_5.svg" alt="">
                </div>
                <div class="advantage-text">
                    <p class="advantage-headline">תוכנית לימודים מקיפה</p>
                    <p class="advantage-content">הקורסים המקיפים והפרקטיים ביותר מבחינת כמות שעות ותכנים המותאמים לשוק העבודה</p>
                    <a class="advantage-link"href="#">מה לומדים?</a>
                </div>
            </div>
            <div class="advantage wow animate__animated animate__slideInUp">
                <div class="advantage-logo">
                    <img class="advantage-img" src="https://www.hackeru.co.il/assets/site/images/advs_2.svg" alt="">
                </div>
                <div class="advantage-text">
                    <p class="advantage-headline">מיקום מרכזי</p>
                    <p class="advantage-content">קל להגיע וקל לחזור, ארבעה סניפים בערים מרכזיות רמת גן, ירושלים, באר שבע וחיפה, רק 5 דקות מתחנת הרכבת</p>
                    <a class="advantage-link"href="#">איפה אנחנו יושבים?</a>
                </div>
            </div>
            <div class="advantage wow animate__animated animate__slideInUp">
                <div class="advantage-logo">
                    <img class="advantage-img" src="https://www.hackeru.co.il/assets/site/images/advs_7.svg" alt="">
                </div>
                <div class="advantage-text">
                    <p class="advantage-headline">פריסה עולמית</p>
                    <p class="advantage-content">שיתופי פעולה עם אוניברסיטאות מובילות ברחבי ארה"ב, הודו ואירופה</p>
                </div>
            </div>
        </div>
    </div>
</div>
