<div class="scroll">
    <div class="container" (mouseenter) ="mouseEnter() "  (mouseleave) ="mouseLeave()">
        <ul class="people" #listOfPeople>
            <li class="person">
                <p class="name">
                    ויקי לקרב,
                </p>
                <p class="role">
                    מבוגרי קורס QA בודק תוכנה, בודקת תוכנה בחברת "GreenSQL" 
                </p>
                <p class="break"> 
                    //
                </p>
            </li>
            <li class="person">
                <p class="name">
                    איליה מסטורוב,
                </p>
                <p class="role">
                    מבוגרי קורס ניהול רשתות, אבטחת מידע ומחשוב ענן, מדריך CCNA בחברות "בזק" וב- "SGA" 
                </p>
                <p class="break"> 
                    //
                </p>
            </li>
            <li class="person">
                <p class="name">
                    סלע ווינרוב,
                </p>
                <p class="role">
                    מבוגרי קורס ניהול רשתות, אבטחת מידע ומחשוב ענן, חברת קונסיסט
                </p>
                <p class="break"> 
                    //
                </p>
            </li>
            <li class="person">
                <p class="name">
                    דניס פלדמן,
                </p>
                <p class="role">
                    מבוגרי קורס ניהול רשתות, אבטחת מידע ומחשוב ענן, מנהל תמיכה טכנית בחברת "Edimax"
                </p>
                <p class="break"> 
                    //
                </p>
            </li>
            <li class="person">
                <p class="name">
                    ולדימיר מוצמכר,
                </p>
                <p class="role">
                    מבוגרי קורס ניהול רשתות, אבטחת מידע ומחשוב ענן, עובד בחברת "בזק בינ"ל" בתפקיד מנהל רשתות
                </p>
                <p class="break"> 
                    //
                </p>
            </li>
            <li class="person">
                <p class="name">
                    ניר ברזילי,
                </p>
                <p class="role">
                    מבוגרי קורס QA בודק תוכנה, עובד בחברת "Realcommerce" בתפקיד בודק תוכנה
                </p>
                <p class="break"> 
                    //
                </p>
            </li>
            <li class="person">
                <p class="name">
                    עודד גרוס,
                </p>
                <p class="role">
                    מבוגרי קורס QA בודק תוכנה, בודק תוכנה ל- Web ול- Mobile בחברת "inManage"
                </p>
                <p class="break"> 
                    //
                </p>
            </li>
            <li class="person">
                <p class="name">
                    גיל ביטמן,
                </p>
                <p class="role">
                    מבוגרי קורס ניהול רשתות, אבטחת מידע ומחשוב ענן, מנהל רשת בחברת "Tufin טכנולוגיות"
                </p>
                <p class="break"> 
                    //
                </p>
            </li>
            <li class="person">
                <p class="name">
                    מיה גלובטר,
                </p>
                <p class="role">
                    מבוגרי קורס ניהול רשתות, אבטחת מידע ומחשוב ענן, עובד בחברת "Check Point"
            </li>
        </ul>
    </div>

</div>