<div class="process">
    <div class="content">
        <h3>התהליך שלנו</h3>
        <div class="steps">

            <div class="step first wow animate__animated animate__fadeInRightBig animate__faster">
                <span class=number>1</span>
                <p class="headline">פגישת ייעוץ</p>
                <hr class="break">
                <p class="text">בפגישה נערך ראיון אישי עם המועמד, אנו בודקים את הרקע שלו ואת יכולת ההשתלבות שלו בתעשייה</p>
            </div>
            <div class="step second wow animate__animated animate__fadeInRightBig animate__delay-1s	animate__faster">
                <span class=number>2</span>
                <img src="https://www.hackeru.co.il/assets/site/images/level_vector.png" alt="">
                <p class="headline">קורס מיון</p>
                <hr class="break">
                <p class="text">שלב זה אורך בין 40-20 שעות על מנת לבדוק את יכולות המועמד ללימודי המשך ולהשמה בעבודה. לא עברת את שלב המיון ? תקבל החזר כספי של שכר הלימוד ששילמת</p>
            </div>
            <div class="step third wow animate__animated animate__fadeInRightBig animate__delay-2s animate__fast	">
                <span class=number>3</span>
                <img src="https://www.hackeru.co.il/assets/site/images/level_vector.png" alt="">
                <p class="headline">ללכת על בטוח</p>
                <hr class="break">
                <p class="text">אחרי שעברת את שלב המיון בהצלחה ונשמת לרווחה, תקבל התחייבות חוזית לעבודה ומלגת לימודים עד 7,000 ₪ תלוי במסלול שבחרת</p>
            </div>
            <div class="step fourth wow animate__animated animate__fadeInRightBig animate__delay-3s animate__fast	">
                <span class=number>4</span>
                <img src="https://www.hackeru.co.il/assets/site/images/level_vector.png" alt="">
                <p class="headline">מתחילים ללמוד</p>
                <hr class="break">
                <p class="text">הלימודים אצלנו פרקטיים ומטרתם לשלב את הבוגרים שלנו בתעשייה, לצורך זה תוכנית הלימודים שלנו היא המקצועית והמקיפה ביותר ובזכותה אנחנו מספר אחת בהשמת בוגרים בהייטק
                </p>
            </div>
        
        </div>
        <div class="meeting-button">
            <button class="button">קביעת פגישת ייעוץ</button>
        </div>
    </div>
</div>
