<div class="how-it-works">
    <div class="more-info">
        <div class="vid">
            <img class="video" src="https://www.hackeru.co.il/assets/site/images/vd.png"alt="">
        <p class="vid-text">עוד קצת מידע</p>
        <img src="https://www.hackeru.co.il/assets/site/images/vd_vector.png" alt="" class="arrow">
        </div>
    </div>
    <div class="content">
        <p class="headline wow animate__animated animate__slideInUp">איך זה עובד?</p>
        <div class="text">
            <div class="text-p">
                <p class="info">HackerU מקיימת קשרי עבודה ענפים עם למעלה מ- 1400 חברות ברחבי הארץ ובעצם משמשת כקרש קפיצה לעולם ההייטק. חברות רבות כבר יודעות שב– HackerU הן יכולות למצוא כוח אדם מקצועי, מיומן ואיכותי בעל ידע פרקטי ויישומי לעבודה. ל-HackerU שיתופי פעולה ברחבי העולם, שם היא מלמדת את קורסי סייבר ואבטחת מידע ושיווק דיגיטלי באוניברסיטאות המובילות בארה"ב, הודו ואירופה.</p>
            </div>
            <div class="text-p">
                <p class="info">התהליך מתחיל מראיון טלפוני ופגישה אישית עם יועץ לימודים המכוון את המועמד לקורס המתאים לו ביותר וממשיך לשלב המיון שנע בין 20 ל-40 שעות בו ניתן להתנסות בתכנים השונים ולבדוק האם ישנה התאמה בין המועמד לבין מסלול הלימודים הנבחר. שלב המיון הינו ללא כל סיכון כספי מצד המועמד. במידה והמועמד אינו עובר את מבחן סיום שלב המיון או לחלופין מחליט כי התחום אינו מתאים לו והוא לא מעוניין להמשיך ללמוד - שכר הלימוד יוחזר לו במלואו.</p>
            </div>
            <div class="text-p">
                <p class="info">במידה והמועמד עובר את שלב המיון בהצלחה ומעוניין להמשיך לקורס המלא, ייחתם מולו חוזה השמה ויקבל מלגת לימודים עד 7,000 ₪ תלוי במסלול אותו הוא מעוניין ללמוד. מטרתנו העיקרית היא להביא כמה שיותר בוגרים ישירות אל עולם ההייטק בעזרת סגל מרצים מהמוביל בתחום ומערך לימודים מקיף ומקצועי הנותן לכל סטודנט את ארגז הכלים הנחוץ לו לפרוץ לעולם ההייטק.</p>
            </div>
        </div>
    </div>
</div>
