<div class="top-navbar">
    <div class="main">
    <ul class="href-links">
      <li class="nav-refitem">
        <a class="nav-link" href="#" >כניסת סטודנטים </a>
      </li>
      <li class="break">|</li>
      <li class="nav-refitem blog">
        <a class="nav-link blog-text" href="#" >בלוג</a>
      </li>
      <li class="break">|</li>
      <li class="nav-refitem">
        <a class="nav-link" href="#" tabindex="-1">הטבות לסטודנטים</a>
      </li>
      <li class="break hide">|</li>
      <li class="nav-item hide">
        <a class="nav-link contact" href="#">ייעוץ לימודים. 03-7202037</a>
    </li>
    <li class="break hide">|</li>
    <li class="nav-item hide">
      <a class="nav-link contact" href="#"> שירות לסטודנטים. 03-613-5565</a>
    </li>
    </ul>
    <div class="search-form hide">
    <form>
        <input class="input-search" type="search" placeholder="חיפוש" aria-label="Search">
        <span class="wl">|</span>
        <button id="search-button" type="submit">
            <img src="https://www.hackeru.co.il/assets/site/images/search.png" alt>
        </button>
    </form>
  </div>
  </div>
  </div>