<div class="courses">
    <div class="content">
        <div class="header">
            <p class="headline">הקורסים שלנו עכשיו גם אונליין</p>
        </div>
        <div class="courses-contact">
            <div class="courses-list">
                <div class="course wow animate__animated animate__slideInUp animate__slow">
                    
                    <div class="course-icon">
                        <img src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.35.16-cyber.svg" alt="">
                    </div>
                    <div class="course-seperator">

                    </div>
                    <div class="course-name">
                        <p>קורס סייבר ואבטחת מידע Ethical Hacking</p>
                    </div>
                </div>
                <div class="course wow animate__animated animate__slideInUp animate__slow">
                    <div class="course-icon">
                        <img src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.34.59-network-management.svg" alt="">
                    </div>
                    <div class="course-seperator">

                    </div>
                    <div class="course-name">
                        <p>קורס ניהול רשתות, אבטחת מידע ומחשוב ענן</p>
                    </div>
                </div>
                <div class="course wow animate__animated animate__slideInUp animate__slow">
                    <div class="course-icon">
                        <img src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.41.07-marketing.svg" alt="">
                    </div>
                    <div class="course-seperator">

                    </div>
                    <div class="course-name">
                        <p>קורס שיווק דיגיטלי - קורס קידום אתרים, רשתות חברתיות, פרסום ומכירות באינטרנט</p>
                    </div>
                </div>
                <div class="course wow animate__animated animate__slideInUp animate__slow">
                    <div class="course-icon">
                        <img src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.32.31-qa.svg" alt="">
                    </div>
                    <div class="course-seperator">

                    </div>
                    <div class="course-name">
                        <p>קורס QA בודק תוכנה</p>
                    </div>
                </div>
                <div class="course wow animate__animated animate__slideInUp animate__slow">
                    <div class="course-icon">
                        <img src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.34.31-graphic-design.svg" alt="">
                    </div>
                    <div class="course-seperator">

                    </div>
                    <div class="course-name">
                        <p>קורס עיצוב גרפי עם התמחות ב-UI/UX</p>
                    </div>
                </div>
                <div class="course wow animate__animated animate__slideInUp animate__slow">
                    <div class="course-icon">
                        <img src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.35.50-web-dev.svg" alt="">
                    </div>
                    <div class="course-seperator">

                    </div>
                    <div class="course-name">
                        <p>קורס בניית אתרים - Full Stack Development</p>
                    </div>
                </div>
                <div class="course wow animate__animated animate__slideInUp animate__slow">
                    <div class="course-icon">
                        <img src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.38.36-apps.svg" alt="">
                    </div>
                    <div class="course-seperator">

                    </div>
                    <div class="course-name">
                        <p>קורס פיתוח אפליקציות ל-Android ול-iPhone</p>
                    </div>
                </div>
                <div class="course wow animate__animated animate__slideInUp animate__slow">
                    <div class="course-icon">
                        <img src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.33.47-linux.svg" alt="">
                    </div>
                    <div class="course-seperator">

                    </div>
                    <div class="course-name">
                        <p>קורס ניהול שרתי לינוקס (Linux)</p>
                    </div>
                </div>
                <div class="course wow animate__animated animate__slideInUp animate__slow">
                    <div class="course-icon">
                        <img src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.36.06-animation.svg" alt="">
                    </div>
                    <div class="course-seperator">

                    </div>
                    <div class="course-name">
                        <p>קורס אנימציה תלת מימדית תוכנת מאיה עם התמחות ב-ZBrush</p>
                    </div>
                </div>
                <div class="course wow animate__animated animate__slideInUp animate__slow">
                    <div class="course-icon">
                        <img src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.37.06-gaming.svg" alt="">
                    </div>
                    <div class="course-seperator">

                    </div>
                    <div class="course-name">
                        <p>קורס פיתוח משחקים Gaming & VR</p>
                    </div>
                </div>
                <div class="course wow animate__animated animate__slideInUp animate__slow">
                    <div class="course-icon">
                        <img src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.37.24-dba.svg" alt="">
                    </div>
                    <div class="course-seperator">

                    </div>
                    <div class="course-name">
                        <p>קורס DBA master</p>
                    </div>
                </div>
                <div class="course wow animate__animated animate__slideInUp animate__slow">
                    <div class="course-icon">
                        <img src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.33.06-net.svg" alt="">
                    </div>
                    <div class="course-seperator">

                    </div>
                    <div class="course-name">
                        <p>קורס תכנות .NET</p>
                    </div>
                </div>
                <div class="course wow animate__animated animate__slideInUp animate__slow">
                    <div class="course-icon">
                        <img src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.36.41-automation.svg" alt="">
                    </div>
                    <div class="course-seperator">

                    </div>
                    <div class="course-name">
                        <p>קורס מפתחי אוטמציה ל-QA</p>
                    </div>
                </div>
            </div>
            <div class="contact">
                <form class="contact-section">
                    <h4 class="contact-header">רוצה לשמוע עוד?</h4>
                    <div class="input-contact">
                        <label id="contact-detail" for="name">שם מלא</label><span>|</span> 
                        <input type="text" id="name"><br>
                    </div>
                    <div class="input-contact">
                    <label id="contact-detail" for="phone-number">טלפון</label><span id="phone">|</span>
                    <input type="text" id="phone-number"><br>
                    </div>
                    <div class="input-contact">
                    <label id="contact-detail" for="email">אי-מייל</label><span id="email" >|</span>
                    <input type="email" id="email"><br>
                    </div>
                    <div class="terms-checkbox">
                        <div class="checkbox">
                            <input type="checkbox" id="terms" name="terms" value="">
                        </div>
                        <label id="terms-label" for="terms">אני מאשר קבלת עדכונים ומבצעים מהאקריו בכפוף לתקנון.</label><br>
                    </div>
                    <div class="link">
                        <a href="#">מדיניות פרטיות משתמשים</a><br>
                    </div>
                    <div class="sumbit-button">
                        <input id="button"type="submit" value="דברו איתי!">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
