.courses{
    background: #f5f8f9;
    width:100%;
    padding-top:4.5%;
    height: 890px;
}
.content {
    position: relative;
    margin: 0 auto;
    
}
.header{
    text-align: right;
    width:72%;
    margin: 0 auto;
}
.headline{
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size:39px;
    font-weight: 500;
}
.courses-contact{
    padding-top: 10px;
    display: flex;
    height:100%;
    margin: 0 auto;
    width:960px;
}
.courses-list{
    display: flex;
    flex-wrap: wrap;
    width:65%;
    height:72%;
    line-height: 1.3;
}

.course{
    margin: 2px 5px 13px;
    width:145px;
    height:148px;
    align-items: center;
}
.course:hover{
    cursor: pointer;
    opacity: 0.5;
    z-index:3;
}
img{
    display: block;
    margin: 0 auto;
    height: 40px;
}
.course-seperator{
    background: #0598A8;
    width: 40px;
    height: 4px;
    margin: 10px auto 0;
    border-radius: 10px;
}
.course-name{
    text-align: center;
    padding-top:3px;
}
.course-name p {
    font-size: 14px;
}
.contact{
    height:72%;
    width:35%;
}
.contact-section{
    background: -webkit-linear-gradient(155deg ,#1046A1,#8D25AA);
    height: 510px;
    width: 300px;
    color:white;
    margin-right:40px;
    box-shadow:5px 5px 5px lightgrey;
    text-align: right;
}
h4{
    padding-top: 27px;
    padding-right:15px;
    padding-bottom: 27px;
}
#terms{
    margin-right:20px;
}
#terms-label{
    width:70%;
    font-size:12px;
    word-break: keep-all;
    margin-right:8px;
    margin-top:5px;
}
.checkbox{
    display: inline-block;
    height:38px;
    margin-bottom: 12px;
    align-items: center;
    vertical-align: middle;
}
#contact-detail{
    background-color: white;
    color:black;
    font-size:13px;
    font-weight: 500;
    padding-right: 10px;
    padding-left:18px;
}
span{
    color:darkblue;
    font-size:23px;
}
#phone{
    padding-right:14px;
}
#email{
    padding-right:5px;
}
.input-contact{
    margin:0 auto;
    background-color: white;
    margin-bottom: 20px;
    width:260px;
    vertical-align: middle;
    padding-top:10px;
    padding-bottom: 10px;
}
input{
    border: none;
}
input:focus{
    box-shadow: none;
    outline: none;
}
.link{
    text-align: center;
}
a{
    color:white;
    font-size:12px;
}
.sumbit-button{
    text-align: center;
    margin-top:10px;
}
#button{
    width: 250px;
    height:60px;
    background-color: aqua;
    font-size:30px;
    font-weight: 500;
    border: double #32a1ce;
    border-width: 4px;
}
@media screen and (max-width:940px){
    .contact{
        display: none;
    }
    .content{
        height:100%;
    }
    .header{
        width:80%;
        margin:0 auto;
    }
    .courses-contact{ 
        position: relative;
        width:900px;
    }
    .courses-list{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width:100%;
    }
    .courses{
        height:880px;
    }

}
@media screen and (max-width:870px){
    .courses-contact{
        width:100%;
    }
}
@media screen and (max-width:740px){
    .courses{
        height:1000px;
        max-width:5200px;
    }
}
