<div class="shadow" #popupShadow>
</div>
<div class="popup" #popup>
    <div class="content wow animate__animated animate__slideInDown" #content>
        <button class="close" (click)="closePopup()"></button>
        <div class="text">
            <p class="first">עברנו ללימודי אונליין!</p>
            <p class="second">ללמוד הייטק ודיגיטל LIVE בזמן שנוח לך</p>
            <p class="third">רוצה לשמוע עוד?</p>
        </div>
        <form class="details">
            <input type="text" placeholder="שם מלא"><br>
            <input type="text" placeholder="מספר טלפון"><br>
            <input type="email" placeholder="אי-מייל">
            <label class="container">
                <input type="checkbox" class="checkmark">
                <p class="agree">אני מאשר קבלת עדכונים ומבצעים מהאקריו</p>
            </label>
            <button class="submit">לשיחת ייעוץ</button>
        </form>
    </div>
</div>