<div class="popup">
    <div class="content hide" #content>
        <button class="close2" (click)="closeContent()"></button>
        <p class="headline2">לכל הפרטים על קורסי האונליין</p>
        <form class="details2">
            <div class="inputContainer">
                <input class="input2" type="text" placeholder="שם מלא">
                <input class="input2" type="text" placeholder="טלפון">
                <input class="input2" type="email" placeholder="מייל">
            </div>
            <div class="sumbitContainer">
                <label class="container2">
                    <input type="checkbox" class="checkmark2">
                    <p class="agree2">אני מאשר קבלת עדכונים ומבצעים מהאקריו בכפוף לתקנון.</p>
                </label>
                <button class="submit2">שליחה</button>
            </div>
        </form>
    </div>
</div>
